img {
  border-radius: 75px;
}
h2 {
  font-size: 18px;
}
body {
  background-color: slateblue;
  font-family: Trebuchet MS;
  color: white;
  text-align: center;
}
a {
  display: block;
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  margin: 10px;
  color: slateblue;
}